<div style="margin-left: 30px; margin-right: 30px; border: 3px solid white;">
    <h3 style="color: yellow;">Rezultat u setovima</h3>
    <p>
      <%= @match.first_player_sets_2 %> : <%= @match.second_player_sets_2 %>
    </p>
  </div>