/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
  }

.authentication-container {
    background: #1E2631;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    text-align: center;
    padding-top: 30vh;
}

.authentication-heading {
  color: green;
  margin: 20px 20px;
}

.authentication-field input {
  background-color: whitesmoke;
  min-width: 400px;
  text-align: center;
  margin: 10px 10px;
  font: 16px;
  height: 20px;
}

.authentication-button {
  background-color: green;
  color: whitesmoke;
  width: 400px;
  text-align: center;
  margin: 10px 10px;
  font: 16px;
  height: 25px;
}




.match-page {
  background: #1E2631;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  text-align: center;
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
}

.left-half {
  float: left;
  width: 30%;
}

.right-half {
  float: left;
  width: 30%;
}

.player {
  text-align: center;
}

.player img {
  border-radius: 50%;
  /* border: 1px solid whitesmoke; */
  background: whitesmoke;
}

.score-button {
  display: block;
  margin: 10px auto;
}

.resign-button {
  display: block;
  margin: 0 auto;
}

.match-info {
  clear: both;
  text-align: center;
  width: 40%;
}

.start-button {
  display: block;
  margin: 10px auto;
}

.total-score {
  display: flex;
  justify-content: center;
}

.set-score {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-button {
  background-color: cyan;
  width: 250px;
  height: 30px;
  margin-bottom: 100px;
  margin-top: 70px;
}

.resign-button {
  background-color: orange;
  width: 250px;
  height: 30px;
}

.player p {
  font-size: 32px;
}

.match-container {
  display: flex;
  justify-content: space-between;
}

.match-column {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

